.house-robbery {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.house-robbery > div{
    display: flex;
    bottom: 0em;
    height: 97%;
    justify-content: center;
    align-items: end;
}

.house-robbery > div > .noise-bar {
    background: #060606;
    width: 20em;
    height: 1.5em;
    border-radius: 20em;
    border: 3px solid black;
}

.house-robbery > div > .noise-bar > div {
    height: 100%;
    width: 0%;
    border-radius: 2em;
    transition: width 0.3s ease, background-color 0.3s ease;
}