:root {
    --primary-text-color: #e7e7e7;
    --secondary-text-color: #94a1b2;

    --back-btn-color: #d1d1d130;
    --back-btn-color-hover: #92929269;

    --main-color: rgb(87, 60, 250);
    --main-color-hover: rgb(69, 46, 199);
    --main-color-active: rgb(41, 21, 156);

    --scrollbar-color: #573cfa;
    --scrollbar-color-hover: #452ec7;
    --scrollbar-background: #07070cfa;

    --menu-shadow-before-color: radial-gradient(circle, rgba(88, 60, 250, 0.65) 0%, rgba(255, 255, 255, 0.0) 70%);
    --menu-shadow-after-color: radial-gradient(circle, rgba(69, 46, 199, 0.7) 0%, rgba(255, 255, 255, 0.0) 70%);

    --house-level1-shadow: radial-gradient(circle, rgba(60, 250, 104, 0.65) 0%, rgba(255, 255, 255, 0.0) 70%);
    --house-level2-shadow: radial-gradient(circle, rgba(250, 155, 60, 0.65) 0%, rgba(255, 255, 255, 0.0) 70%);
    --house-level3-shadow: radial-gradient(circle, rgba(250, 60, 60, 0.65) 0%, rgba(255, 255, 255, 0.0) 70%);
    
    --house-level1-ribbon: rgba(60, 250, 104, 0.65);
    --house-level2-ribbon: rgba(250, 155, 60, 0.65);
    --house-level3-ribbon: rgba(250, 60, 60, 0.65);

    --menu-background: #07070cfa;
    --submenu-background: #4d51850f;
    --submenu-background-selected: rgb(36 37 42 / 37%);
    --border-radius: 0.4em;
    
}

* {
    user-select: none;
}

body {
    /* display: none; */
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    width: 100%;
    height: 100%;
}

hr {
    opacity: 0.085 !important;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover);
}
