@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');

h1 {
    font-weight: normal;
    color: white;
}

div.info {
    margin: 12px 0;
}

div.info * {
    color: white;
}

#icons {
    display: none;
    filter:url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

#vehicle {
    fill: white;
}

div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 35%;
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: .1s;
    transition-timing-function: ease-out;
}

svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

svg.menu > g > path {
    fill: rgba(36, 36, 36, 0.664);
    stroke: rgba(100, 100, 100, 0.28);
    stroke-width: 0.5px;
}

svg.menu > g.sector > path {
    cursor: pointer;
    fill: #1f1f1f;
    stroke: rgba(245, 242, 242, 0.301);
    stroke-width: 1px;
   
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: 'Cairo', sans-serif;
    margin-top: 5px;
    cursor: pointer;
    fill: white;
     font-size: 6px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

svg.menu > g.sector:hover > path {
    fill: rgba(173, 216, 230, 0.51);
    stroke: #ADD8E6;
    stroke-width: 0.5px;
    filter: drop-shadow(0px 0px 10px rgba(173, 216, 230, 0.8));
   
}

svg.menu > g.center > path {
    cursor: pointer;
    fill: #D65657;
    stroke: rgba(245, 242, 242, 0.5);
    stroke-width: 1px;

}

svg.menu > g.center:hover > path {
    fill: rgba(214, 86, 87, 0.71);
    stroke: #D65657;
    stroke-width: 0.5px;
    filter: drop-shadow(0px 0px 10px rgba(214, 86, 87, 0.8));
   
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 3px;
    cursor: pointer;
    fill: white;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

svg.menu > g.sector > use,
svg.menu > g.center > use {
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5));
}
